h1.contact{
  text-align: center;
  color: white;
}

p.contact{
  text-align: center;
  font-size: 20px;
  color: white;
  margin-bottom: 80px;
  margin-top: 80px;
}


fieldset {
  border: 1px solid rgb(255,232,57);
  width: 400px;
  margin: auto;
  text-align:center;
}

form{
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 700px;
  color: white;
}

textarea {
  height: 100px;
  width: 400px;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
}

body{
  background-color: rgba;
}

div.contactdiv{
    background-image: url("images/light-bulb-3104355_1920.jpg");
    height: 1000px;
}

i {
  color: yellow;
}

input{
  margin-top: 15px;
  margin-bottom: 10px;
}
